
  @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
   
}
body {
    background-color: hsl(211, 68%, 94%);
}
.container {
    padding: 30px 35px;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid transparent;
    border-radius: 10px;
    width: 800px;
    display: block;
    margin: 30px auto;
}
.notification-header {
    display: block;
    margin: 10px 0px 20px 0;
}
.notification-header h2 {
    display: inline;
}
span.three {
    padding: 4px 12px;
    background-color: hsl(219, 85%, 26%);
    border-radius: 7px ;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
}
.notification-header p {
    /* display: inline-block; */
    float: right;
    text-align: right;
}


.notification {
    display: flex;
    position: relative;
    font-size: 17px;
    background-color: hsl(210, 60%, 98%);
    border-radius: 15px;
    margin: 10px 0;
    padding: 20px;
}

.notification p{
  margin-left: 10px;
}
img, .img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    display: inline-block;
}
.chess {
    position: absolute;
    float: right;
    right: 10px;
}
#fa-circle {
    font-size: 10px;
    color: hsl(1, 90%, 64%);
    margin: 5px;


}
p {
    font-size: 17px;
}
span {
    font-weight: 800;
}
.comment {
    border: 1px solid hsl(213, 10%, 79%);
    border-radius: 10px;
    margin-left: 70px;
    padding: 10px;
}
@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
    }
}
.attribution { 
    font-size: 13px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}